{
    "apps": ["api", "worker"],
    "credentials": {
        "local": {
            "type": "",
            "project_id": "",
            "private_key_id": "",
            "private_key": "",
            "client_email": "",
            "client_id": "",
            "auth_uri": "",
            "token_uri": "",
            "auth_provider_x509_cert_url": "",
            "client_x509_cert_url": ""
        },
        "staging": {
            "type": "",
            "project_id": "",
            "private_key_id": "",
            "private_key": "",
            "client_email": "",
            "client_id": "",
            "auth_uri": "",
            "token_uri": "",
            "auth_provider_x509_cert_url": "",
            "client_x509_cert_url": ""
        },
        "production": {
            "type": "",
            "project_id": "",
            "private_key_id": "",
            "private_key": "",
            "client_email": "",
            "client_id": "",
            "auth_uri": "",
            "token_uri": "",
            "auth_provider_x509_cert_url": "",
            "client_x509_cert_url": ""
        }
    },
    "values": {
        "local": {
            "MIN_LOG_LEVEL": "DEBUG",
            "INTERNAL_AUTH_TOKEN": "",
            "BASIC_AUTH_USER": "",
            "BASIC_AUTH_PASSWORD": "",
            "CLOUDSQL_SAMPLE_CONNECTION_NAME": "",
            "CLOUDSQL_SAMPLE_USER": "",
            "CLOUDSQL_SAMPLE_PASSWORD": "",
            "CLOUDSQL_SAMPLE_DATABASE": ""
        },
        "staging": {
            "MIN_LOG_LEVEL": "DEBUG",
            "INTERNAL_AUTH_TOKEN": "",
            "BASIC_AUTH_USER": "",
            "BASIC_AUTH_PASSWORD": "",
            "CLOUDSQL_SAMPLE_CONNECTION_NAME": "",
            "CLOUDSQL_SAMPLE_USER": "",
            "CLOUDSQL_SAMPLE_PASSWORD": "",
            "CLOUDSQL_SAMPLE_DATABASE": ""
        },
        "production": {
            "MIN_LOG_LEVEL": "INFO",
            "INTERNAL_AUTH_TOKEN": "",
            "BASIC_AUTH_USER": "",
            "BASIC_AUTH_PASSWORD": "",
            "CLOUDSQL_SAMPLE_CONNECTION_NAME": "",
            "CLOUDSQL_SAMPLE_USER": "",
            "CLOUDSQL_SAMPLE_PASSWORD": "",
            "CLOUDSQL_SAMPLE_DATABASE": ""
        }
    }
}
