{
    "apps": ["default"],
    "credentials": {
        "local": {
            "type": "",
            "project_id": "",
            "private_key_id": "",
            "private_key": "",
            "client_email": "",
            "client_id": "",
            "auth_uri": "",
            "token_uri": "",
            "auth_provider_x509_cert_url": "",
            "client_x509_cert_url": ""
        },
        "staging": {
            "type": "",
            "project_id": "",
            "private_key_id": "",
            "private_key": "",
            "client_email": "",
            "client_id": "",
            "auth_uri": "",
            "token_uri": "",
            "auth_provider_x509_cert_url": "",
            "client_x509_cert_url": ""
        },
        "production": {
            "type": "",
            "project_id": "",
            "private_key_id": "",
            "private_key": "",
            "client_email": "",
            "client_id": "",
            "auth_uri": "",
            "token_uri": "",
            "auth_provider_x509_cert_url": "",
            "client_x509_cert_url": ""
        }
    },
    "appengine": {
        "local": {
            "MIN_LOG_SEVERITY": "DEBUG"
        },
        "staging": {
            "MIN_LOG_SEVERITY": "DEBUG"
        },
        "production": {
            "MIN_LOG_SEVERITY": "INFO"
        }
    },
    "functions": {
        "staging": {
            "sample-handler": {
                "runtime":"go111",
                "entry": "Handle",
                "memory": "128MB",
                "timeout": "60s",
                "trigger": "--trigger-http",
                "environment": {
                    "SAMPLE": "sample_staging"
                }
            }
        },
        "production": {
            "sample-handler": {
                "runtime":"go111",
                "entry": "Handle",
                "memory": "128MB",
                "timeout": "60s",
                "trigger": "--trigger-http",
                "environment": {
                    "SAMPLE": "sample_production"
                }
            }
        }
    },
    "scheduler": {
        "staging": {
            "sample-http": {
                "schedule": "* * * * *",
                "description": "サンプル（HTTP）",
                "url": "http://google.co.jp",
                "method": "GET",
                "headers": "Content-Type=application/x-www-form-urlencoded",
                "body": ""
            },
            "sample-appengine": {
                "schedule": "* * * * *",
                "description": "サンプル（AppEngine）",
                "service": "api",
                "relative_url": "/ping",
                "method": "GET",
                "headers": "Content-Type=application/x-www-form-urlencoded",
                "body": ""
            },
            "sample-pubsub": {
                "schedule": "* * * * *",
                "description": "サンプル（PubSub）",
                "topic": "sample",
                "body": "key=value"
            }
        },
        "production": {
            "sample-http": {
                "schedule": "* * * * *",
                "description": "サンプル（HTTP）",
                "url": "http://google.co.jp",
                "method": "GET",
                "headers": "Content-Type=application/x-www-form-urlencoded",
                "body": ""
            },
            "sample-appengine": {
                "schedule": "* * * * *",
                "description": "サンプル（AppEngine）",
                "service": "api",
                "relative_url": "/ping",
                "method": "GET",
                "headers": "Content-Type=application/x-www-form-urlencoded",
                "body": ""
            },
            "sample-pubsub": {
                "schedule": "* * * * *",
                "description": "サンプル（PubSub）",
                "topic": "sample",
                "body": "key=value"
            }
        }
    }
}
