# {{.Name}}

## Overview
```
【Type】
{{.Overview.Type}}

【Endpoint】
{{.Overview.URL.Staging}}
{{.Overview.URL.Production}}

【URI】
{{.Overview.URI}}
```

## Request
```json
【Method】
{{.Request.Method}}

【URL】
{{.Request.URI}}

【Headers】
{{.Request.Headers}}

【Params】
{{.Request.Params}}
```

## Response
```json
【StatusCode】
{{.Response.StatusCode}}

【Body】
{{.Response.Body}}
```